.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 3rem auto;
  width: 85%;
  gap: 8px;

  .blob {
    position: absolute;
    color: #cafff2;
    top: 40px;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: -1;
    opacity: 0;
  }

  .logo {
    height: 44px;
  }

  ul {
    display: flex;

    li {
      position: relative;
      :hover + svg {
        opacity: 1;
        transform: translateY(-200%);
        transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
          transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
  }
}

ul {
  list-style: none;
  padding-left: 0px;
  gap: 1rem;
}

.button {
  border-radius: 4.5em;
  padding: 14px 20px;
}

.whiteButton {
  background-color: white;
  font-weight: bold;
  border: 1px solid #d6cfc4;

  &:hover {
    box-shadow: 0 1px rgba(27, 30, 31, 0.08), 0 1px 5px rgba(27, 30, 31, 0.04);
  }
}

.lightBlueButton {
  background-color: #cafff2;
  color: var(--primary-color);
  font-weight: bold;
  margin: 30px 0;

  &:hover {
    background-color: #fbd3b6;
  }
}

.heroSection {
  width: 85%;
  color: var(--secondary-color);
  margin: 0 auto 4em auto;
  border-radius: 4.5em;
  text-align: center;
  padding: 5em 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 250px;

  h1 {
    font-size: 5rem;
    font-family: DMSerifDisplay, serif;
    font-weight: 900;
    width: 60%;
    margin: auto;
    padding-top: 100px;
    line-height: 0.8;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  p {
    padding: 30px 0px;
    font-weight: 400;
    font-size: 30px;
    width: 55%;
    margin: auto;
  }
}

.playdateSection {
  width: 85%;
  margin: 4em auto;
  border-radius: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 32px;

  p {
    font-size: 23px;
    text-align: center;
  }
}

.highlighted {
  background-color: #cafff2;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 16px;
  font-weight: bold;
  font-size: smaller;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 85%;
  margin: 0 auto 20px auto;
  grid-gap: 30px;
}

.footerLeft {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 2em;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h2,
  p {
    width: 80%;
  }

  p {
    font-size: 23px;
  }
}

.footerRight {
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  border-radius: 2em;
}

.footerRightUpperPart {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 30px;
  line-height: 40px;
}

.footerRightLowerPart {
  padding: 40px 30px;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
